asttokens==2.4.1
backcall==0.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.50.0
ftfy==6.2.0
idna==3.6
importlib_resources==6.3.0
ipython==8.12.3
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.7.5
matplotlib-inline==0.1.6
numpy==1.24.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.0.3
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
scipy==1.10.1
seaborn==0.13.2
six==1.16.0
stack-data==0.6.3
timm==0.6.7
torch==1.10.0+cu111
torchaudio==0.10.0+rocm4.1
torchvision==0.11.0+cu111
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.1
